%tr{ 'data-id' => @item.id }
  - settings.fields.each do |field|
    %td{ :style => "max-width:#{settings.item_width + 20}px" }= @item.send(field.robotize)
  - if session[:editing_enabled]
    %td.edit
      %a.edit{ :href => 'javascript:', :title => 'Edit' } e
      \/
      %a.delete{ :href => 'javascript:', :rel => "/delete/#{@item.id}", :title => 'Delete' } d

%tr.edit{ 'data-id' => @item.id }
  %form{ :action => "/update/#{@item.id}", :method => 'post' }
    - settings.fields.each do |field|
      %td
        %input{ :type => 'text', :name => "item[#{field.robotize}]", :placeholder => field, :value => @item.send(field.robotize), :style => "width:#{settings.item_width}px;" }
    %td.edit
      %a.save{ :href => 'javascript:' } save


