!!! 5
%html
  %head
    %title Cataloguais
  %body
    %h1 Cataloguais

    - if flash[:notice]
      .message= flash[:notice]

    #add-new
      %form{ :action => '/new/', :method => 'post' }
        - settings.fields.each do |field|
          %label= field
          %input{ :type => 'text', :name => "item[#{field.robotize}]" }
        %input{ :type => 'submit' }

    %table
      %tr
        - settings.fields.each do |field|
          %th= field
      - Item.all.each do |item|
        %tr
          - settings.fields.each do |field|
            %td= item[:"#{field.robotize}"]
